@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

h1, .h1, h2, .h2, h3, .h3, h4, .h4{
  font-family: 'Montserrat', sans-serif;

  display: inline-block;
  margin: 0;

  span{
    color: $accent_color;
  }
}

h2, .h2{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 140%;
  /* or 56px */

  color: #ffffff;

}

h3, .h3{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;


  color: #FFFFFF;
}

h4, .h4{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
}

.title{
  position: relative;

  .title__number{
    position: absolute;

    top: 10px;
    left: -100px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 150%;
    color: #8C9091!important;

  }
}


p{
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;

  color: #8C9091;

  opacity: 0.5;
}

span{
  color: #8C9091;
}
