@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import "./_vars.scss";

html{
  box-sizing: border-box;
  &::-webkit-scrollbar {
    width: 0px;
    background: rgba(255, 255, 255, 0.0);
  }
}

body{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;

  color: #FFFFFF;

  background-color: #192224;

}
*,
*::before,
*::after{
  box-sizing: border-box;
}

ul{
  padding-left: 0px;
  margin: 0;
}
ul, li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

button{
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;

  text-transform: uppercase;

  color: #FFFFFF;

  border: none;
  padding: 10px 20px;
}
.btn-type-one{
  color: $accent_color;

  border: 2px solid $accent_color;
  border-radius: 22px;
}

.btn-type-one{
  transition-duration: .2s;

  cursor: pointer;

  position: relative;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;

  background-color: #252D2F;
  border-radius: 4px;

  padding: 15px 165px 19px 25px;

  div{
    width: 52px;
    height: 52px;

    position: absolute;
    right: 5px;
    top: 5px;

    border-radius: 3px;

    background: #000000;

    opacity: 0.3;
  }
  svg{
    position: absolute;

    height: 30px;
    weight: 30px;

    right: 16px;
    top: 16px;
  }
}
.btn-type-one--active, .btn-type-one:hover{
  background-color: #45AF71;
}

.btn-type-two{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #ffffff;

  background: none;

  padding: 15px 30px 20px 30px;

  border: 2px solid #252D2F;
  border-radius: 4px;
}

.input-type-one{
  width: 300px;

  padding-bottom: 17px;

  background: none;

  border: none;
  border-bottom: 2px solid #252D2F;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */


  color: #FFFFFF;

  &::placeholder{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */


    color: #FFFFFF;
  }
}

.header{
  width: 100%;

  font-size: 14px;

  padding-top: 30px;



  &__wrapper{
    display: flex;
    justify-content: space-between;

    max-width: 1240px;

    padding: 0 20px;
    margin: auto;

    *{
      cursor: pointer;
    }
  }

  .header__languages{
    border-radius: 3px;
    border: 2px solid #414647;

  }
  .header__language{
    padding: 13px 20px;
  }
  .header__language--active{
    background-color: #414647;
  }

  .header__links{
    display: flex;
    justify-content: space-between;

    width: 414px;

    border-bottom: 2px solid #414647;

    padding-top: 13px;
  }
  .header__link{
    position: relative;
    bottom: -2px;
    text-align: center;
    width: 80px;
  }

  .header__link--active, .header__link:hover{
    border-bottom: 2px solid #ffffff;
  }

  .header__link a{
    width: 100%;
    display: block;
    padding-bottom: 13px;
  }

  .header__getcontact{
    width: 340px;
    font-size: 18px;
    line-height: 140%;

    border-radius: 3px;
    border: 2px solid #414647;

    *{
      display: inline-block;
    }

    button{
      height: 52px;
      width: 60px;
      background: none;
      border: none;
      padding-left: 4px;
      border-left: 2px solid #414647;
      text-align: center;

      svg{
        margin-bottom: -3px;
        width: 24px;
        height: 16px;
      }
    }
  }
  .header__getcontact a{
    position: relative;

    width: 268px;

    padding: 13px 20px;
    svg{
      width: 35px;
      height: 35px;
      position: absolute;
      right: 35px;
      top: 9px;
    }
  }

  ul{
    display: block;
    li{
      display: inline-block;
    }
  }
}


.sidebar{
  height: 100vh;
  padding: 32px 22px;

  position: fixed;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #252d2f;


  & .sidebar__logo{
    max-height: 100px;
  }

  & .sidebar__title{
    margin-bottom: 12vh;
    transform: rotate( -90deg );
    height: 1px;
    width: 18px;
    white-space: nowrap;
  }
}


.container{
  width: 1240px;

  margin: auto;
  padding: 0 20px;
}

section{
  height: 100vh;
  max-height: 100vh;
  width: 100%;

  padding-top: 17.5vh;
  padding-left: 84px;
}
