@import "_vars";
@import "_global";
@import "_font";
@import "_libs";

.non-desktop{
  display: none;
}
.first-screen{
  padding-top: 0;
}
.first-screen__content{
  position: relative;
}
.first-screen__content-text{
  max-width: 515px;

  margin-top: 20vh;
  z-index: 10;
  .first-screen__content-text-subtitle{
    display: block;
    margin: 40px 0px 40px;
  }
}
.first-screen__content-icon{
  position: absolute;
  top: -20px;
  right: 0;
  z-index: -1;
}

.porducts__text{
  max-width: 700px;

  h2{
    display: block;
  }

  .products__text-subtitle{
    display: block;
    margin: 36px 0 56px;
  }
}

.products__links{
  width: 1000px;

  display: flex;
  justify-content: space-between;
}
.products__link{
  position: relative;

  width: 300px;
  height: 300px;

  padding: 20px 27px;

  *{
    transition-duration: .6s;
  }
  h2{
    display: block;
    position: relative;

    svg{
      opacity: 0;

      width: 46px;
      height: 46px;

      position: absolute;
      right: 0;
      top: 4px;
    }

    z-index: 40;
  }

  p{
    color: #ffffff;

    width: 244px;
    position: absolute;
    bottom: 30px;
  }

  img{
    position: absolute;
    top: 0;
    right: 0;

    z-index: 10;

    width: 300px;
    height: 300px;;
  }

}

.products__link--active, .products__link:hover{
  border: 1px solid #45AF71;
  img{
    opacity: 0;
  }

  svg{
    opacity: 1;
  }
}

.directions__title{
  margin-bottom: 60px;
}
.directions__wrapper{
  width: 100%;
  position: relative;

  .directions__icon{
    position: absolute;
    top: 0;
    right: 0;
  }
}
.directions__items{

  border-left: 3px solid #414647;



  height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.directions__item{
  position: relative;
  left: -3px;

  padding: 10px 0 10px;

  padding-left: 55px;

  height: 75px;
  max-width: 335px;
  overflow: hidden;
  transition-duration: .6s;
  &--active,&:hover{
    border-left: 3px solid #45AF71;
  }
  &--active{
    height: auto;

    h4{
      margin-top: 20px!important;
      margin-bottom: 20px!important;

      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 140%;


      color: #FFFFFF;
    }
  }

  svg{
    display: block;
  }

  h4{
    margin: 8px 0;
  }
}

.services__title{
  margin-bottom: 50px;
}
.services__items{
  width: 100%;
  border-top: 3px solid #252D2F;
  border-bottom: 3px solid #252D2F;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services__item{
  width: 50%;
  padding: 20px;
  *{
    padding-left: 65px;
    max-width: 400px;
  }
  h4{
    position: relative;

    img{
      position: absolute;
      left: -60px;
    }
  }
  p{
    margin: 20px 0;
  }

  &-1{
    border-right: 3px solid #252d2f;
    border-bottom: 3px solid #252d2f;

  }
  &-2{
    border-bottom: 3px solid #252d2f;
  }
  &-3{
    border-right: 3px solid #252d2f;
  }
}

.services__btns{
  margin-top: 50px;
  width: 650px;
  display: flex;
  justify-content: space-between;
}

.footer__title{
  margin-bottom: 60px;
}
.footer__form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  align-items: flex-end;

  border-bottom: 2px solid #252d2f;

  .footer__form-input{
    width: 30%;
    margin-bottom: 80px;
    input{
      width: 100%;
    }
  }

  span{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    color: #8C9091;

    display: block;
    margin-bottom: 8px;
  }
  .footer__form-message{
    width: 760px;
  }
  .message{
    width: 500px;
    padding-bottom: 0;
    resize: none;
  }

  .footer__form-btn{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p{
      width: 300px;
    }
  }
}

.footer__title{
  margin-top: 50px;
}

.footer__contacts{
  margin-bottom: 60px;

  display: flex;
  justify-content: space-between;


  h4{
    display: block;
    margin-bottom: 10px;
  }

  span{
    margin-bottom: 25px;
    width: 100px;
    display: inline-block;
    color: #8C9091;
  }
  .email{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */

  }
}
@media screen and (max-width: 1440px) {
  section, .sidebar, .header{
    display: none;
  }

  .non-desktop{
    dipslay: block;
  }
}
